.App {
  text-align: center;
  display:flex;
  flex-flow:wrap;
  justify-content: center;
  
  
}
.Movie-list{
  text-align: center;
  display:flex;
  flex-flow:wrap;
  justify-content: center;
}

h1{
  padding-top: 2%;
  font-size: medium;
  transform: scaleX(140%);
  transform: scaleY(140%);
  
  
}
img{
  
  height: 640px;
  width: 340px;
  padding-top: 10%;
  padding-left: 10%;
  padding-bottom: 10%;
  padding-right: 10%;
  object-fit: cover;
  
  
  


}
.summary{
  padding-left: 3%;
  inline-size: 300px;
  overflow-wrap: break-word;
  color:rgba(147, 144, 149, 0.97);
  
  
  
  
  
}
span{
  font-size: 15px;
}

img:hover{
  transform: scale(1.1);
}



.likebutton,.dislikebutton{
  font-size:15px;
  width: 20%;
  height: 25px;
  margin-top: 5%;
  margin-left: 3%;

}

.add-movie-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px;
  
}



.game-box{
 
  height: 160px;
  width: 160px;
  background:   white;
  color: black;
  font-size: 160px;
  display: flex;
  align-items:center;
  justify-content: center;



}






.notfound{
  height: 500px;
  width: 700px;
 
  
}

.board{
  background-color:"orange";
  display:grid;
  grid-template-columns:repeat(3,1fr);

  cursor:pointer;
  max-width:800px
}